.mat-button-toggle-group {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-button-toggle {
    opacity: 100%;
    width: 100%;
    height: 10%;
    margin: 1%;
    background-color: darkgray;
    color: white;

    transition: 0.8s;
}

.mat-button-toggle:hover {
    background: linear-gradient(
        to right,
        grey,
        blue
    );
}

.mat-button-toggle-checked {
    background: linear-gradient(
        to right,
        grey,
        green
    );
}
