/* You can add global styles to this file, and also import other style files */

//@import '@angular/material/prebuilt-themes/indigo-pink.css';

@use '@angular/material' as mat;
@include mat.core();

$candy-app-primary: mat.define-palette(mat.$indigo-palette);
$candy-app-accent: mat.define-palette(mat.$pink-palette);
$candy-app-warn: mat.define-palette(mat.$red-palette);

$candy-app-theme: mat.define-light-theme(
    $candy-app-primary, $candy-app-accent, $candy-app-warn
);

@include mat.all-component-themes($candy-app-theme);

.dark-theme {
    $primary-dark: mat.define-palette(mat.$grey-palette);
    $accent-dark: mat.define-palette(mat.$green-palette);
    $warn-dark: mat.define-palette(mat.$red-palette);

    $theme-dark: mat.define-dark-theme($primary-dark, $accent-dark, $warn-dark);

    @include mat.all-component-themes($theme-dark);

    color: white;
    background-color: rgba(12, 12, 12, 0.9);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
