<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="app-sidenav mat-elevation-z5" mode="push">
        <mat-toolbar class="dark-theme">
          Options
        </mat-toolbar>

        <mat-nav-list>
          <button mat-button [matMenuTriggerFor]="quizes" class="menu-button">Start quiz</button>
          <mat-menu #quizes>
            <button mat-menu-item *ngFor="let quiz of quizMap | keyvalue"
             (click)="drawer.toggle()"
             (click)="resetScore()"
             (click)="startQuiz(quiz.key)">{{ quiz.key }}</button>
          </mat-menu>
          <button mat-button class="menu-button"
            (click)="addNewQuiz()">Add quiz</button>
        </mat-nav-list>
        
    </mat-drawer>
  
    <div class="app-sidenav-content">
      <app-toolbar (toggleDrawer)="drawer.toggle()"></app-toolbar>
      <div class="main-content">
        <app-quiz *ngIf="quizStarted" (questionsReceived)="setCurrentQuizQuestions($event)" (quizOver)="quizAnswered($event)" [quizName]="selectedQuiz"></app-quiz>
        <app-result #resultCard *ngIf="displayingResults === true" [_questions]="currentQuestions" (resultAnalysisFinished)="resetScore()"></app-result>
      </div>
    </div>
  
  </mat-drawer-container>